.locationWrapper{
    width: 100%;
}

.location {
    display:flex;
    flex-direction:column;
    color:var(--primary-color);
    margin-top:var(--margin-element);
}

.location-header {
    display:flex;
    flex-direction:row;
    width:100%;
    margin-top:30px;
}

.location-header__title {
    display:flex;
    flex-direction:column;
    width:89%;
}

.location-title  h1 {
    font-size:calc(var(--title-h1) - 1rem);
}
.location-title  p {
    margin-top:10px;
}
.location-tag {
    display:flex;
    align-items:center;
    margin-top:20px;
}
.tag {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size:calc(var(--size) + 2px );
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;

}



.location-header__info {
    width:11%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.location-host {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
}

.location-rate {
    display: flex;
    justify-content: flex-end;
}






.location-title p,
.host-name {
    font-size:calc((var(--title-h1) - 0.5rem ) / 2 );
}

.host-name  {
    text-align:right;
    width: 50px;
    margin-right: 45px;
}
.host-img {
    width:64px;
    height:64px;
    border-radius:50%;
}

.location-detail__dropdown {
    width: 45%;
}

.location-detail{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100%;
    margin-top:var(--margin-element);
}

@media (max-width: 768px) {
    .location-header {
        flex-direction:column;
    }
    .location-header__info {
        width:100%;
        flex-direction:row-reverse;
    }
    .location-rate {
        display: flex;
        flex-direction: row;
    }
    .host-img {
        width:32px;
        height:32px;
    }
    .location-detail{
        flex-direction:column;
        width: 100%;
    }
    .location-detail__dropdown {
        width: 100%;
    }
  }





