:root {
  /* color */
  /* #E5E5E5*/
  --background-body:#FFFFFF;
  --background-footer: #000000;
  --background-card:#F7F7F7;
  --primary-color: #FF6060;
  --secondary-color: #FFFFFF;
  --tertiary-color: #F6F6F6;
  

  /* font */
  --font: 'Montserrat';
  --default-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --size: 12px;
  --nav-footer: 1.5rem;
  --title-h1:3rem;
  /* margin */
  --margin-body: 40px 100px 0;
  --margin-element:40px;

}


body {
  font-family:var(--font , var(--default-font));
  background: var(--background-body);
  font-size: var(--size);
  
}

a {
  text-decoration: none;
}

.container {
  /* margin: var(--margin-body); */
  margin-top:40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

@media screen and (max-width: 375px) {
  .container {
    margin-top:20px;
  }

}
@import url(./header/index.css);
@import url(./footer/index.css);
@import url(./home//index.css);
@import url(./banner//index.css);
@import url(./location/index.css);
@import url(./about/index.css);
@import url(./error/index.css);
@import url(./loader/index.css);
@import url(./dropdown/index.css);
@import url(./caroussel/index.css);