.errorWrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color: var(--primary-color);
    width: 100%;
    min-height: 633px;
}
.errorBody {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;

}
.errorBody-title{
    font-size: 20rem;
}

.errorBody-message {
    font-size: 2.5rem;
}

.errorLink {
    /* margin-top:calc(var(--margin-element) + 20px); */
    margin-top:var(--margin-element);
    text-align:center;
}
.errorLink a {
    font-size:1.3rem;
}

@media screen and  (max-width: 375px) {
    .errorWrapper {
        min-height: 530px;
        justify-content:normal;
        align-items:center;
    }

    .errorBody {
        height:280px;
        justify-content:center;
    }

    .errorBody-title{
        font-size: 6rem;
    }
    .errorBody-message,
    .errorLink a {
        font-size: 1rem;
    }

}