.errorWrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color: var(--primary-color);
    /* margin: var(--margin-element) auto; */
    width: 100%;
    height:35rem;
}
.errorBody {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;

}
.errorBody-title{
    font-size: 20rem;
}

.errorBody-message {
    font-size: 2.5rem;
}

.errorLink {
    margin-top:calc(var(--margin-element) + 20px);
    text-align:center;
}
.errorLink a {
    font-size:1.3rem;
}

@media screen and  (max-width: 375px) {
    .errorWrapper {
        height:511px;
        justify-content:normal;
        align-items:center;
    }

    .errorBody {
        height:280px;
        justify-content:center;
    }

    .errorBody-title{
        font-size: 6rem;
    }
    .errorBody-message,
    .errorLink a {
        font-size: 1rem;
    }

}