.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height:10%;
    width: 1240px;
    max-width: 1240px;
}

.nav-header {
    font-size:var(--nav-footer);
    text-align:right;
    color:var(--primary-color);
}
.nav-header a:first-child {
    margin-right: 57px;
}

.active {
    text-decoration: underline;
}
@media screen and (max-width: 375px) {
    .headerWrapper {
        width:335px;

    }
    .nav-header{
        --nav-footer:1rem;
        text-transform: uppercase;
    }
    .nav-header a:first-child {
        margin-right: 20px;
    }
   .logo {
     width: 8rem;
     height:2.5rem;
   }

  }
  @media screen and (min-width: 376px ) and (max-width: 768px) {
    .headerWrapper {
        width:80%;

    }
    .nav-header{
        --nav-footer:1rem;
        text-transform: uppercase;
    }
    .nav-header a:first-child {
        margin-right: 20px;
    }
   .logo {
     width: 8rem;
     height:2.5rem;
   }

  }
  @media screen and (min-width: 769px ) and (max-width: 1230px) {
    .headerWrapper {
        width:90%;

    }
    .nav-header{
        --nav-footer:1rem;
        text-transform: uppercase;
    }
    .nav-header a:first-child {
        margin-right: 20px;
    }
   .logo {
     width: 8rem;
     height:2.5rem;
   }

  }