.aboutWrapper {
    width: 1240px;
    max-width: 1240px;
    min-height: 593px;
    margin-top: var(--margin-element);
    /* margin-bottom:59px; */
   
}

.about {
    width: 80%;
    margin: var(--margin-element) auto;
}

.about .dropdownWrapper:nth-child(n) {
    margin-top:20px;
}

@media screen and (max-width: 375px) {
    .aboutWrapper {
        width:335px;
        min-height: 490px;
    }

    .about {
        width:100%;
    }
}

@media screen and (min-width: 376px ) and (max-width: 768px) {
    .aboutWrapper {
        width:80%;
        min-height: 504px;
    }

    .about {
        width:90%;
    }

  }
  @media screen and (min-width: 769px ) and (max-width: 1230px) {
    .aboutWrapper {
        width:90%;
        min-height: 400px;
    }

  }