.aboutWrapper {
    width: 1240px;
    max-width: 1240px;
    flex: 1;
    margin-top: var(--margin-element);
    /* margin-bottom:59px; */
}

.about {
    width: 80%;
    margin: var(--margin-element) auto;
}

.about .dropdownWrapper:nth-child(n) {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .aboutWrapper {
        width: 90%;
    }

    .about {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1230px) {
    .aboutWrapper {
        width: 90%;
    }
    .about {
        width: 100%;
    }
}
